@font-face {
  font-family: "iconfont"; /* Project id 3646250 */
  src: url('iconfont.woff2?t=1663763862164') format('woff2'),
       url('iconfont.woff?t=1663763862164') format('woff'),
       url('iconfont.ttf?t=1663763862164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-choice:before {
  content: "\e608";
}

.icon-earth:before {
  content: "\e603";
}

.icon-light:before {
  content: "\e68d";
}

.icon-dark:before {
  content: "\e6a2";
}

.icon-setUp:before {
  content: "\e793";
}

.icon-signOut:before {
  content: "\e65b";
}

.icon-palette:before {
  content: "\e77e";
}

.icon-more:before {
  content: "\e612";
}

.icon-exitFullScreen:before {
  content: "\e639";
}

.icon-fullScreen:before {
  content: "\e63a";
}

.icon-catalogue:before {
  content: "\e60c";
}

.icon-feiyongedu:before {
  content: "\e64a";
}

.icon-jingpinshuju:before {
  content: "\e64b";
}

.icon-kaoshiyutiaocha:before {
  content: "\e64c";
}

.icon-feiyongfapiao:before {
  content: "\e64d";
}

.icon-zhishixuexi:before {
  content: "\e64e";
}

.icon-biji:before {
  content: "\e64f";
}

.icon-zhifu:before {
  content: "\e657";
}

.icon-shangdian:before {
  content: "\e658";
}

