// element-plus dark 模式
@import 'element-plus/theme-chalk/src/dark/css-vars';

html.dark {
  background-color: $neumorphism_dark_theme-bg-color;

  // 黑暗模式图片处理避免饱和度过高导致刺眼
  // img {
  //     filter:brightness(0.8) saturate(1.25)
  // }

  // Neumorphism 拟物态风格
  .neumorphism {
    background-color: $neumorphism_dark_theme-bg-color;
    border-radius: $neumorphism-border-radius;
    box-shadow: $neumorphism_dark_box-shadow;
  }

  // layout
  .layout-header {
    .menu-shrink {
      box-shadow: $neumorphism_dark_box-shadow;
    }
    .actionsBar {
      .icon-symbol,
      .el-avatar {
        box-shadow: $neumorphism_dark_box-shadow;
      }
    }
  }

  // 菜单
  .el-menu {
    .el-sub-menu__title:hover,
    .el-menu-item:hover {
      box-shadow: $neumorphism_dark_box-shadow;
    }
  }

  // 按钮
  // .el-button {
  //   box-shadow: $neumorphism_dark_box-shadow;
  // }
}
