// element-plus light 模式
html.light {
  // --el-color-primary: green;
  background-color: $neumorphism_light_theme-bg-color;

  // Neumorphism 拟物态风格
  .neumorphism {
    background-color: $neumorphism_light_theme-bg-color;
    border-radius: $neumorphism-border-radius;
    box-shadow: $neumorphism_light_box-shadow;
  }

  // layout
  .layout-header {
    .menu-shrink {
      box-shadow: $neumorphism_light_box-shadow;
    }
    .actionsBar {
      .icon-symbol,
      .el-avatar {
        box-shadow: $neumorphism_light_box-shadow;
      }
    }
  }

  // 菜单
  .el-menu {
    .el-sub-menu__title:hover,
    .el-menu-item:hover {
      box-shadow: $neumorphism_light_box-shadow;
    }
  }

  // 按钮
  // .el-button {
  //   box-shadow: $neumorphism_light_box-shadow;
  // }
}
