.el-menu {
  border-right: none;
  background-color: transparent;

  .el-sub-menu__title,
  .el-menu-item {
    transition: all $transition-time;
  }
  .el-sub-menu__title:hover {
    background-color: rgb(64 158 255 / 20%);
  }
  .el-menu-item:hover {
    background-color: rgb(64 158 255 / 50%);
  }

  .el-sub-menu {
    .el-menu-item span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }
  }
}
